[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

body {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    color: white;
    -webkit-user-select: none;
}

a {
    color: white;
}

/* added to a span with semicolon in lists to enforce tts pauses */
.pause {
    color: black;
}

/* remove input field highlight */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.clisis-wrapper {
    width: 75%;
    margin: 10% auto;
}

    .clisis-wrapper .clisis-input {
        width: 25%;
        float: left;
        margin-right: 5%;
    }

        .clisis-wrapper .clisis-input .clisis-input-field {
            width: 100%;
            font-family: "Courier New", Courier, monospace;
            font-size: 16pt;
            color: white;
            border: 1px white solid;
            background-color: black;
        }

        .clisis-wrapper .clisis-input .clisis-login-wrapper {
            display: inline-block;
        }

            .clisis-wrapper .clisis-input .clisis-login-wrapper .clisis-input-field-login {
                width: 55% !important;
                float: right;
            }

            .clisis-wrapper .clisis-input .clisis-login-wrapper .clisis-login-label {
                margin-right: 5%;
                float: left;
                font-size: 16pt;
            }

    .clisis-wrapper .clisis-output {
        width: 70%;

        float: right;
        word-wrap: break-word;
    }

        .clisis-wrapper .clisis-output .clisis-output-view {
            border: solid white 1px;
            padding: 0px 10px 18px 10px;
            max-height: 50vh;
            min-height: 24px;
            overflow: scroll;
        }

    .clisis-wrapper .clisis-header {
        font-size: 16pt;
        font-weight: bold;
        text-align: center;
    }

    .clisis-wrapper .clisis-border {
        border: solid white 1px;
        padding: 5px;
        margin-right: -4px;
    }

    .clisis-wrapper .clisis-help li {
        margin-bottom: 5px;
    }

    .clisis-wrapper .clisis-param-choices {
        margin: 5px 0px -12px 10px;
    }