<h3>{{domainType}}:{{instanceId}}, {{title}}</h3>

<div ng-show="showProperties">
    <b>Properties:</b>
    <ul>
        <li ng-repeat="(property, data) in properties">
            <span ng-if="typeOf(data.value) != 'object'">{{data.id}}: {{data.value}}</span>
            <span ng-if="typeOf(data.value) == 'object'">{{data.id}}: {{data.value.title}}</span>
        </li>
    </ul>
</div>

<div ng-show="showCollections">
    <b>Collections:</b>
    <ul>
        <li ng-repeat="(collection, data) in collections">{{collection}} (items: {{data.length}})</li>
    </ul>
</div>

<div ng-show="showActions">
    <b>Actions:</b>
    <ul>
        <li ng-repeat="(action, data) in actions">{{data.id}}</li>
    </ul>
</div>