<h3 ng-show="domainType && title">{{domainType | substringAfterChar:'.'}}: {{title}}</h3>

<div id="object-properties" ng-show="showProperties">
    <b>Properties:</b>
    <div ng-repeat="(property, data) in properties">
        <span ng-if="typeOf(data.value) != 'object'">{{$index}}: {{data.id}}: {{data.value}}<span class="pause">:</span></span>
        <span ng-if="typeOf(data.value) == 'object'">{{$index}}: {{data.id}}: {{data.value.title}}<span class="pause">:</span></span>
    </div>
</div>

<div id="object-collections" ng-show="showCollections">
    <b>Collections:</b>
    <div ng-repeat="(collection, data) in collections">{{$index}}: {{collection}} (items: {{data.length}})<span class="pause">:</span></div>
</div>

<div id="object-actions" ng-show="showActions">
    <b>Actions:</b>
    <div ng-repeat="(action, data) in actions">{{$index}}: {{data.id}}<span class="pause">:</span></div>
</div>